body {
  background: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.grid div {
  height: 100px;
  width: 100px;
  display: flex;
}

.game-container>div { 
  font-size: 25px;
  margin-left: 30px;
}

.default {
  background-image:url('./images/default.jpg');
}

.flip-1 {
  background-image:url('./images/apple.jpg');
}

.flip-2 {
  background-image:url('./images/banana.jpg');
}

.flip-3 {
  background-image:url('./images/coconut.jpg');
}

.flip-4 {
  background-image:url('./images/gauva.jpg');
}

.flip-5 {
  background-image:url('./images/kiwi.jpg');
}

.flip-6 {
  background-image:url('./images/orange.jpg');
}

.flip-7 {
  background-image:url('./images/pears.jpg');
}

.flip-8 {
  background-image:url('./images/strawberry.jpg');
}